<a href="https://colab.research.google.com/github/PRANESH2B/GLM_EX1/blob/main/GLM_EX1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
hourly_rate = 250
overtime_rate = 100
total_hours = 56
normal_hours = 48
overtime_hours = total_hours - normal_hours

if total_hours > normal_hours:
    regular_pay = normal_hours * hourly_rate

    overtime_pay = overtime_hours * overtime_rate
else:
    regular_pay = total_hours * hourly_rate


weekly_income = regular_pay + overtime_pay
monthly_income = weekly_income * 4
annual_income = monthly_income * 12


# Output
print("Rs :",monthly_income)
print("Rs :",annual_income)

Rs : 51200
Rs : 614400

In [ ]:
#2
units = 350
if units <= 100:
    bill = units * 0.50
elif units <= 200:
    bill = (100 * 0.50) + ((units - 100) * 0.75)
elif units <= 300:
    bill = (100 * 0.50) + (100 * 0.75) + ((units - 200) * 1.20)
else:
    bill = (100 * 0.50) + (100 * 0.75) + (100 * 1.20) + ((units - 300) * 1.50)
comm_bill = bill * 2

# Output
print("Unit :", units)
print("Household Bill:", bill)
print("Commercial Bill:", comm_bill)

Unit : 350
Household Bill: 320.0
Commercial Bill: 640.0

In [ ]:
#3
class Quiz:
    def __init__(self):
        self.score = 0

    def ask_question(self, question, correct_answer):
        user_answer = input(question + " ")
        if user_answer.lower() == correct_answer.lower():
            self.score += 2
        else:
            self.score -= 1
quiz = Quiz()
quiz.ask_question("1. What color is the sun?", "Yellow")
quiz.ask_question("2. who the president of tye india", "murmu")
quiz.ask_question("3. who the director for the anbesivam movie ", "sunder c")
quiz.ask_question("4. is ocean and the sea is the same ", "yes")
quiz.ask_question("5. is human memory vulnerable to suggestive language ", "yes")

# output
print("\nYour total score :", quiz.score)

1. What color is the sun? L
2. who the president of tye india L
3. who the director for the anbesivam movie  ;
4. is ocean and the sea is the same  ;
5. is human memory vulnerable to suggestive language  ;

Your total score : -5

In [ ]:
#4
class Employee:
    def __init__(self, basic_salary):
        self.basic = basic_salary

class Salary(Employee):
    def calculate(self):
        da = 0.20 * self.basic
        hra = 0.10 * self.basic
        pf = 0.12 * self.basic
        ta = 0.075 * self.basic
        emi = 0.02 * self.basic

        gross = self.basic + da + hra + pf + ta
        net = gross - emi

        print("Gross Salary: Rs", gross)
        print("Net Salary: Rs", net)

# OUTPUT
basic_salary = float(input("Basic Salary: "))
emp = Salary(basic_salary)
emp.calculate()

Basic Salary: 1000000
Gross Salary: Rs 1495000.0
Net Salary: Rs 1475000.0